@model VanQuangTin_2280603267_Lab04.Models.Category

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Chi tiết danh mục</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Sửa</a> |
    <a asp-action="Index">Trở về</a>
</div>
