
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lỗi khi đăng nhập Google</h2>
<div class="alert alert-danger">
    @ViewBag.ErrorMessage
</div>
<a href="/" class="btn btn-primary">Quay lại trang chủ</a>
